server:
  port: 1000

spring:
  application:
    name: Server-Gateway
  cloud:
    gateway:
      routes:
        - id: auth
          uri: lb://Web-Auth
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: chat
          uri: lb://Web-Chat
          predicates:
            - Path=/chat/**
          filters:
            - StripPrefix=1

        - id: file
          uri: lb://Web-File
          predicates:
            - Path=/file/**
          filters:
            - StripPrefix=1
      globalcors:  # 全局跨域
        cors-configuration:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

    nacos:
      discovery:
        enabled: true
        server-addr: localhost:8848
      config:
        enabled: false

logging:
  level:
    root: info
